#page-wrapper
  
  #wrapper

    section.panel.banner.right
      .content.color0.span-85-5
        h1.major li0t Studio 
      .content.color-contrast.span-1-1(data-position="5% 5%")

    section#first.panel.banner
      .content.color-contrast.span-95-5
        h2.major Hazme click! 
          span.icon.fa-hand-pointer-o
        #oscillator

    section#second.panel.banner
      .content.color-contrast.span-95-5
        h2#loveMeter.major Wanted to know...	
        button#checkLoveBtn Do you love me??